@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">E-ucioinica</h1>
    <p>Lista svih <a href="/PredmetStrana/Predmeti">predmeta</a>.</p>
    <p>Lista svih <a href="/OblastStrana/Oblasti">oblasti predmeta</a>.</p>
    <p>Lista svih<a href="/Pitanjestrana/Pitanja">pitanja</a>.</p>
    <p>Kreiranje<a href="/TestStrana/Test">testa</a>.</p>
</div>
